<ion-view title="Prado">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button id="prado-button2" class="button button-stable  button-block icon ion-stop"></button>
            <button id="prado-button5" class="button button-stable  button-block icon ion-skip-backward"></button>
            <button id="prado-button3" class="button button-stable  button-block icon ion-play"></button>
            <button id="prado-button4" class="button button-stable  button-block icon ion-skip-forward"></button>
        </div>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/jCXMU2zyQFWFX94tQT3X_photo.jpg">
                <h2>Museo del Prado</h2>
                <p>Avenida San Juan, Madrid</p>
            </ion-item>
            <ion-item class="item-divider">Audio</ion-item>
            <ion-item>Audio1</ion-item>
            <ion-item>Audio2</ion-item>
            <ion-item>Audio3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>